@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img id="title-img" src="~/images/title_img.jpg" alt="PPM Support Office" width="640" height="360" />
    <br /><br />
    <a href="Inventory/Index"><button type="button" class="btn btn-warning">Login</button></a>
</div>
